.env
*.env
*__pycache__/*
*.pyc
db
*.cpython-311.pyc
*.pem
*.key
*.csr
*.crt
*.srl
*.csr
*.log
output/
CloudServer/app/configuration/
# Logs
logs
*.log
log/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
certbot/
certs/
node_modules
dist
dist-ssr
*.local
CloudServer/app/mnt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*notes.txt
